@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

body {
    font-family: 'Hina Mincho',
        serif;
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #FFF1ED;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: #FFF1ED;
}

header {
    width: 100%;
    min-height: 125px;
    background-color: #FFF1ED;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

header .logo {
    max-height: 200px;
    max-width: 150px;
    margin-bottom: 1rem;
    margin-right: 6rem;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

header ul li {

    padding: 0.5rem 2.5rem;
    letter-spacing: 2px;

}

header ul li a {
    flex: 1;
    text-decoration: none;
    font-size: 22px;
    color: rgb(117, 117, 117);
    text-align: center;
}

header ul li a:hover {
    color: black;
}

header .menu {
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
    text-align: center;
    padding: 2rem;
    display: none;
}

section {
    width: 100%;
    min-height: 100vh;
    background-image: url("sidekix-media-5O-KFVmKSjY-unsplash.jpg");
    background-size: cover;
}

section .banner {
    width: 100%;
    position: relative;
}

.banner .thumb {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 12rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner .text h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 3rem;
    color: #f87887;
    text-shadow: 1px -1px 0 white;

}

.banner .text p {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    color: white;
}

.banner .text input {
    border: none;
    border-radius: 1rem;
    outline: none;
    height: 60px;
    width: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: 18px;
}

::placeholder {
    color: rgb(117, 117, 117);
}

.banner .text button {
    height: 60px;
    width: 80px;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(117, 117, 117);
    font-size: 20px;
    cursor: pointer;
}

.banner .text button:hover {
    box-shadow: #F9A7B0 0px 0px 13px -7px inset;
}

#about,
#properties,
#reviews,
#contact {
    width: 100%;
    color: rgb(82, 80, 80);
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 1rem;
}

#about .about,
#properties h2,
#agents h2,
#reviews h2,
#contact h2 {
    display: flex;
    padding-left: 10rem;
    font-size: 32px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

#about .content .thumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 2rem;
    cursor: pointer;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    background-color: white;
}

#about .content {
    display: flex;
    justify-content: center;
}

#about h3 {
    font-size: 20px;
}


.thumb-box:hover {
    box-shadow: none;
}



.thumb-box h3 {
    padding: 0.5rem;
}

.thumb img {
    min-width: none;
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    align-content: center;

}

#about .text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 2rem;
    font-size: 24px;

}

#about .text h3 {
    font-size: 20px;
    padding-bottom: 0.5rem;
}

#about .fas {
    font-size: 20px;
}

#about .text .agent {
    font-size: 20px;
    padding: 0;
}

#about .text a {
    padding: 0.3rem;
    text-decoration: none;
    color: black;
    background-color: #f87887;
    font-size: 20px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
}

.more-about-btn {
    padding: 0.3rem;
    color: black;
    background-color: #f87887;
    font-size: 20px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    border: none;
}

.more-about {
    display: none;
}

#more-info {
    font-size: 16px;
    max-width: fit-content;
    flex: 1;
    padding: 1rem;
}

#about .text .social a {
    background-color: transparent;
    color: #f87887;
    box-shadow: none;
}

#about .text .social a:hover {
    color: #F9A7B0;
    background-color: transparent;
}

#about .text .fas:hover,
h3:hover,
a:hover,
.more-about-btn:hover {
    cursor: pointer;
    color: #F9A7B0;
    transition: 0.5s;
}

#properties .content,
#agents .content,
#reviews .content,
#contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
}

#properties .box,
#agents .box,
#reviews .box {
    max-width: 400px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    margin: 10px;
    flex-direction: column;
    background-color: white;
}

.hide1,
.hide2,
.hide3 {
    display: none;
}

.agent1,
.agent2,
.agent3 {
    display: none;
}

#contact .box {
    padding: 0 20rem 2rem 20rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

#about .content .thumb:hover,
#properties .box:hover,
#agents .box:hover,
#reviews .box:hover,
#contact .box:hover {
    box-shadow: none;
}

#properties .box img,
#agents .box img,
#reviews .box img {
    display: flex;
    max-width: 350px;
    align-self: center;
}

#properties h3,
#agents h3,
#reviews h3,
#contact h3 {
    padding: 1rem 0;
    font-size: 22px;
    width: 100%;
}


#properties .text,
#agents .text,
#reviews .text,
#contact .text {
    font-size: 20px;
    max-width: 100%;

}

#agents .text {
    text-align: center;
}

#properties p {
    padding: 1rem 0;
}

#reviews .text p {
    font-style: italic;
    max-width: 100%;
}

#properties span,
#contact span {
    padding: 0rem 1rem 1rem 0;
    color: rgb(82, 80, 80);
    font-weight: bold;
}

#properties a,
#agents a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #f87887;
    color: black;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
}

#properties a:hover,
#agents a:hover,
#about .text a:hover {
    color: #F9A7B0;
    transition: 0.3s ease-in-out;
}

#properties .view {
    background-color: transparent;
    color: rgb(82, 80, 80);
    box-shadow: none;
    font-size: 20px;
    margin: 0;
    border: none;

}

#properties .view:hover {
    color: #F9A7B0;
    cursor: pointer;
}

#agents .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
}

#contact form {
    flex: 1;
    min-width: 350px;
    max-width: 600px;
    padding: 2rem 4rem 2rem 1rem;
}

#contact .map {
    flex: 1;
    max-width: 600px;
}

#contact form input,
#contact form textarea,
#contact form button {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f87887;
    padding: 1rem 1rem 1rem 0;
    color: rgb(82, 80, 80);
    margin: 0.5rem;
    background-color: transparent;

}

#contact form button {
    border-radius: 0.5rem;
    color: black;
    background-color: #f87887;
    width: 50%;
    border: none;
}

#contact form input:focus,
#contact form textarea:focus,
#contact form button:focus {
    border: 2px solid #F9A7B0;
    box-shadow: 2px 2px 4px #F9A7B0;
    transition: 0.5s;
}

#contact form button:hover {
    color: #F9A7B0;
    transition: 0.4s;
    cursor: pointer;
}

#contact a {
    color: #f87887;
    text-decoration: none;
}

#contact a:hover {
    color: #F9A7B0;
    cursor: pointer;
}



footer {
    background-color: #F9A7B0;
    color: black;
    width: 100vw;
}

footer .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    border-bottom: black 1px solid;

}



.contact-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.5rem 0 0 0;
    justify-content: center;
}

ul li {
    padding: 1rem 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

ul li a,
footer a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}

#location,
#phone,
#mail {
    padding: 1rem 8rem;
}

footer .social i {
    padding: 0.5rem 2rem;
    font-size: 20px;
}

#mini-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
}

.flipper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('sidekix-media-5O-KFVmKSjY-unsplash.jpg');
    background-size: cover;
    z-index: 99;
    clip-path: circle(0 at 50% 50%);
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
}

#closeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    color: rgb(70, 3, 70);
    cursor: pointer;
}

.log {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: blur(3px);
    padding: 0 20px;
    box-shadow: 0 0 20px #000;
    border-radius: 1.5rem;
}

.show {
    display: none;
}

.log h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: rgb(82, 80, 80);
}

.log label {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.7);

}

.log input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: black;
}

.log i {
    width: 40px;
    text-align: center;
}

.log .check {
    background: transparent;
    height: 25px;
    font-size: 14px;
    color: white;
}

.log [type='checkbox'] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    transform: translateY(3px);
}

.log button {
    width: 100%;
    height: 40px;
    background-color: teal;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.log p {
    text-align: center;
    margin: 5px 0;
    color: white;
}

.log a {
    text-decoration: none;
    color: hotpink;
    display: inline-block;

}

.top-scroll {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hotpink;
    text-align: center;
    line-height: 33px;
    border: 1px solid limegreen;
}

.top-scroll a {
    color: white;
    cursor: pointer;
}

/*
.flip-container {
    perspective: 1000;
}

.flipper {
    padding: 30px;
    width: 300px;
    height: 250px;
    position: relative;
    background: #f5f5f5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    transition: 0.6s;
    transform-style: preserve-3d;
}

.front,
.back {
    
    position: absolute;
    padding: 10px 30px;
    top: 0;
    left: 0;
    right: 0;

    backface-visibility: hidden;
}

.front {
    z-index: 2;
   
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

input {
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
}

.title {
    text-align: center;
}

.flipbutton {
    color: #4096ee;
    text-decoration: none;
    text-align: left !important;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;


    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
} */