@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

body {
    font-family: 'Hina Mincho', serif;
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #FFF1ED;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: #FFF1ED;
}

header {
    width: 100%;
    min-height: 125px;
    background-color: #FFF1ED;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

header .logo {
    max-height: 200px;
    max-width: 150px;
    margin-bottom: 1rem;
    margin-right: 6rem;
}


ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

header ul li {
    padding: 0.5rem 2.5rem;
    letter-spacing: 2px;

}

header ul li a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(117, 117, 117);
    text-align: center;
}

header ul li a:hover {
    color: black;
}

header .menu {
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
    text-align: center;
    padding: 2rem;
    display: none;
}

section {
    width: 100%;
    min-height: 100vh;
    background-image: url("sidekix-media-5O-KFVmKSjY-unsplash.jpg");
    background-size: cover;
}

section .banner {
    width: 100%;
    position: relative;
}

.banner .thumb {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner .text h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 3rem;
    color: #f87887;
    text-shadow: 1px -1px 0 white;

}

.banner .text p {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    color: white;
}

.banner .text input {
    border: none;
    border-radius: 1rem;
    outline: none;
    height: 60px;
    width: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: 18px;
}

::placeholder {
    color: rgb(117, 117, 117);
}

.banner .text button {
    height: 60px;
    width: 80px;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(117, 117, 117);
    font-size: 20px;
    cursor: pointer;
}

.banner .text button:hover {
    box-shadow: #F9A7B0 0px 0px 13px -7px inset;
}

#about,
#properties,
#reviews,
#contact {
    width: 100%;
    color: rgb(82, 80, 80);
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 1rem;
}

#about .about,
#properties h2,
#agents h2,
#reviews h2,
#contact h2 {
    display: flex;
    padding-left: 4rem;
    font-size: 32px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about .content .thumb {
    padding: 2rem 4rem 0.5rem 4rem;

}

#about h3 {
    font-size: 20px;
}

.thumb-box {
    flex: 1;
    cursor: pointer;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    margin: 10px;
}

.thumb-box:hover {
    box-shadow: none;
}



.thumb-box h3 {
    padding: 0.5rem;
}

.thumb img {
    display: flex;
    max-width: 850px;
}

#about .text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3rem 2rem 0.5rem 2rem;
    font-size: 24px;
    max-width: 450px;

}

#about .text h3 {
    font-size: 20px;
    padding-bottom: 4rem;
}

#about .fas {
    font-size: 30px;
}

#about .text .agent {
    font-size: 20px;
    padding: 0;
}

#about .text a {
    padding: 0.3rem;
    text-decoration: none;
    color: white;
    background-color: #f87887;
    font-size: 20px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
}

#about .text .social a {
    background-color: transparent;
    color: #f87887;
    box-shadow: none;
}

#about .text .social a:hover {
    color: #F9A7B0;
    background-color: transparent;
}

#about .text .fas:hover,
h3:hover,
a:hover {
    cursor: pointer;
    color: #F9A7B0;
    transition: 0.5s;
}

#properties .content,
#agents .content,
#reviews .content,
#contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
}

#properties .box,
#agents .box,
#reviews .box {
    max-width: 400px;
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    margin: 10px;
    flex-direction: column;
}

#contact .box {
    padding: 2rem 20rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

#properties .box:hover,
#agents .box:hover,
#reviews .box:hover,
#contact .box:hover {
    box-shadow: none;
}

#properties .box img,
#agents .box img,
#reviews .box img {
    display: flex;
    max-width: 350px;
    align-self: center;
}

#properties h3,
#agents h3,
#reviews h3,
#contact h3 {
    padding: 1rem 0;
    font-size: 22px;
    width: 100%;
}


#properties .text,
#agents .text,
#reviews .text,
#contact .text {
    font-size: 20px;
    max-width: 100%;

}

#reviews .text p {
    font-style: italic;
    max-width: 100%;
}

#properties span,
#contact span {
    padding: 0rem 1rem 1rem 0;
    color: rgb(82, 80, 80);
}

#properties a,
#agents a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #f87887;
    color: white;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
}

#properties a:hover,
#agents a:hover,
#about .text a:hover {
    background-color: #F9A7B0;
    transition: 0.3s ease-in-out;
}

#properties .view {
    background-color: transparent;
    color: rgb(82, 80, 80);
    box-shadow: none;
    font-size: 20px;
    margin: 0;
    border: none;
}

#properties .view:hover {
    background-color: transparent;
    border-bottom: 1px solid #F9A7B0;
    transition: 0.5s;
    border-radius: 0%;
    margin: 0 40rem;
}

#agents .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
}

#contact form {
    flex: 1;
    min-width: 350px;
    max-width: 600px;
    padding: 2rem 4rem 2rem 1rem;
}

#contact .map {
    flex: 1;
    max-width: 600px;
}

#contact form input,
#contact form textarea,
#contact form button {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f87887;
    padding: 1rem 1rem 1rem 0;
    color: rgb(82, 80, 80);
    margin: 0.5rem;
    background-color: transparent;

}

#contact form button {
    border-radius: 0.5rem;
    color: white;
    background-color: #f87887;
    width: 50%;
    border: none;
}

#contact form input:focus,
#contact form textarea:focus,
#contact form button:focus {
    border: 2px solid #F9A7B0;
    box-shadow: 2px 2px 4px #F9A7B0;
    transition: 0.5s;
}

#contact form button:hover {
    background-color: #F9A7B0;
    transition: 0.4s;
    cursor: pointer;
}

#contact a {
    color: #f87887;
    text-decoration: none;
}

#contact a:hover {
    color: #F9A7B0;
    cursor: pointer;
}